$primary-typo-color: #626262;
$secondary-typo-color: #b4ad9e;
$load-mor-btn-typo-color:#707070;
$nl-heading-color: #333333;
$nl-bg-color: #f0f0f0;
$footer-bg-color: #f0f0f0;
$footer-typo-color: black;
$fw-light: 300;