.load-more-btn {
    box-sizing: border-box;
    width: 164px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    border: 1px solid $primary-typo-color;
}