.post-preview {
    margin-bottom: 125px;
    &__img {
        display: block;
        width: 100%;
        margin-bottom: 95px;
    }

    &__category {
        margin-bottom: 25px;
    }

    &__heading {
        margin-bottom: 30px;
    }

    &__main-text {
        margin-bottom: 40px;
    }
}