.footer {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 200px;
    margin-top: -200px;
    &__list {
        list-style: none;
        display: flex;
        justify-content:space-between;
        max-width: 980px;
        flex-grow: 1;      
    }

    &__items {

    }
    &__spacer {
        &--left{
            flex-basis: calc((100vw - 932px) / 2);
        }
        &--right{
            flex-basis: calc((100vw - 1062px) / 2);
        }
    }
    &__socials {
        justify-self: flex-end;
    }

}